@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');

:root{
    --primary-color: black;
}
body{
    font-family: 'Pirata One', cursive;
}

.header{
    background-color: var(--primary-color);
}

.header .header-heading{
    color: white;
    text-align: center;
    padding: 4rem;
    margin-top: -2rem;
    font-size: 4r;
}

.container-center{
    width: 800px;
    margin: auto;  
}

#txt-input{
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-height: 20vh;
    margin-top: 0rem;
    border: 1px solid black;
    padding: 1rem;
}

#btn-translate{
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

div{
    font-size: x-large;
    font-weight: 200;
    margin: 0rem;
}

#output{
    width: 100%;
    box-sizing: border-box;
    display: block;
    min-height: 20vh;
    margin-top: 0rem;
    border: 1px solid black;
    padding: 1rem;

}

.footer{
    background-color: var(--primary-color);
    margin: auto;
    padding: 2rem 2rem;
    margin-top: 2rem;
}

.footer .footer-header{
    color: white;
    text-align: center;
    margin-top: 1rem;
    font-size: xx-larger;
    display: block;
    font-weight: bold;

}

.footer .footer-text {
   
    margin: auto;
    margin-top: 1rem;
    font-size:x-large;
    display: block;
    text-align: center;
    color: white;
}